<h1>Ajouter nouvel ingrédient</h1>
<form method="POST" enctype="multipart/form-data">
	<select name="categorie">
	{% for collection in collections %}
		<option value="{{collection.id}}">{{collection.nom}}</option>
	{% endfor %}
	</select>
	<input type="text" name="ingredient" placeholder="Nom" required>
	<input type="text" name="description" placeholder="Description" required>
	<input type="text" name="fournisseur" placeholder="Fournisseur" required>
	<input type="file" name="image">
	<input type="submit">
</form>