<h1>{{title}}</h1>
<p>{{message}}</p>
<button><a href="{{addIngredient}}">Ajouter un ingrédient</a></button>
<button><a href="{{tdb}}">Tableau de bord</a></button>
<button><a href="{{getIngredients}}">Lister les ingrédients</a></button>
<button><a href="{{getTailleList}}">Lister les tailles et les prix de sandwich</a></button>
