<form method="post" action="{{path}}">
<div class="ingredients_by_categorie">
	<h2>Liste des ingrédients par catégorie</h2>
	{% for collection in collections %}
		<strong>{{collection.categorie}} :</strong>
		{% for collection in collection.ingredient %}
			<input type="checkbox" name="ingredients[]" value="{{collection.id}}">{{collection.nom}}</input>
		{%endfor%}
		<br/>
	{% endfor %}
</div>
 <button type="submit">Supprimer</button>
</form>
