<h2>Connexion</h2>
<form method="POST" action="">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="text" name="token" style="display: none;" value="{{token}}">
	<input type="submit">
</form>