<div class="tailles">
	<h2>Liste des tailles de sandwich</h2>
	{% for taille in tailles %}
		<form method="post" action="{{path}}">
			<input type="hidden" value="{{taille.id}}" name="id">
			<input type="text" value="{{taille.lib}}" name="lib">
			<input type="text" value="{{taille.prix}}" name="prix">
			<button type="submit">Mettre à jour</button><br/>
		</form>
	{% endfor %}
</div>
