<h2>Connexion</h2>
<form method="POST" action="">
	<input type="text" name="username" required>
	<input type="password" name="password" required>
	<input type="token" name="token" style="visibility: hidden;" value="ooo">
	<button type="submit">Connexion</button>
</form>